<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head') %>
</head>
<body>

  <header class="wcc-bg">
    <div class="flex justify-between column center">
      <div>
        <p class="f4 ma0"><a href="/" class="black"></a></p>
        <h1 class="f2 mt2">Tracking Democracy</h1>
        <h2 class="f4">Search and track the decisions of Wellington City Council.</h2>
      </div>

      <div class="w-20 pt2">
        <%- include('./partials/logo') %>
      </div>
    </div>
  </header>

  <main>
    <h1>Reports</h1>
    <a href="/reports/1">Brooklyn Cycleway Trial</a>
  </main>

</body>
</html>
